{
	"version": 1,
	"gridbugs": [{
		"host": "35.202.193.158",
		"id": "jasonacox.com"
	}, {
		"host": "10.0.1.2",
		"id": "LAN"
	}, {
		"host": "localhost:8777",
		"id": "test"
	}, {
		"host": "localhost",
		"id": "localhost"
	}]
}